package games

import "github.com/RowMur/office-table-tennis/internal/db"

type GamePageHeadingProps struct {
	Office db.Office
}

templ GamePageHeading(props GamePageHeadingProps) {
	<h2 class="text-2xl font-semibold my-2 inline-block">{ props.Office.Name }</h2>
}
