package components

type Crumb struct {
	Name string
	URL  string
}

templ Breadcrumbs(crumbs []Crumb) {
	<nav class="opacity-70">
		for _, crumb := range crumbs {
			if crumb.URL == "" {
				<span>{ crumb.Name }</span>
			} else {
				<span><a href={ templ.SafeURL(crumb.URL) } class="hover:underline">{ crumb.Name }</a> &gt; </span>
			}
		}
	</nav>
}
